.leaderHeader {
  font-size: smaller;
}

.leaderHeader div {
  color: black !important;
}

.leaderHeader .fa {
  padding-left: 5px;
}

.leaderRow {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

.points {
  display: inline-block;
  color: green;
  text-align: left;
}

.user {
  display: inline-block;
  text-align: left;
}

@media (min-width: 600px) {
  .points {
    width: 12%;
    font-size: 1.2em;
  }

  .user {
    width: 30%;
    font-size: 1.2em;
  }
}

@media (max-width: 600px) {
  .points {
    width: 20%;
  }

  .user {
    width: 45%;
  }
}

.avatar {
  display: inline-block;
  padding-right: 2vw;
  vertical-align: middle;
}

.avatar img {
  width: 4vw;
  height: 4vw;
  border: 1px solid black;
}

.avatar div {
  display: inline-block;
  width: 4vw;
  height: 4vw;
}

.activeSort {
  font-weight: bold;
}
